:root {
  /*fonts*/
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /*colors*/
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /*others*/
}

/*OTHER*/
body {
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/**
  |============================
  | Base styles
  |============================
*/
.section {
}
.list {
  list-style: none;
}
.link {
  color: inherit;
  text-decoration: none;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.header-logo:focus {
  color: var(--color-ocean);
}
.logo-web {
  color: var(--color-navy-blue);
}

.header-nav-list {
  /* Body Medium */

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.header-nav-item:active {
  text-decoration-line: underline;
  color: var(--color-ocean);
}
.header-item1:hover,
.header-item1:focus {
  color: var(--color-ocean);
}
.header-nav-item:hover,
.header-nav-item:focus {
  color: var(--color-ocean);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}
.contact {
  font-style: normal;
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}
.header-contact {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.header-contact-item:active {
  color: var(--color-ocean);
}
.header-contact-item:hover {
  color: var(--color-ocean);
}
.header-contact-item:focus {
  color: var(--color-ocean);
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--color-navy-blue);
}
.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
/**
  |============================
  | About styles
  |============================
*/
.about {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-title {
}
.about-list {
}
.about-item {
}
.about-item-ttl {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.about-item-txt {
}

/**
  |============================
  | Portfollio
  |============================
*/
.portfolio {
}
.portfolio-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
/**
  |============================
  | Team section
  |============================
*/
.team {
  background: var(--color-cloud);
}
.team-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.team-list {
}
.team-item {
  background-color: var(--color-white);
}
.team-img {
}
.team-subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.team-position {
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  font-weight: 800;
}
.footer-logo-studio {
  color: var(--color-cloud);
}
.footer-copyright {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  width: 264px;
}

/**
  |============================
  | Portfoliio Page
  |============================
*/
/*Buttons*/

.btn-title {
}
.btn-list {
  list-style: none;
}
.btn-item {
}
.buttons {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons:hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.buttons:active {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.buttons:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
/*Cards Section*/
.cards {
}
.cards-list {
  list-style: none;
}
.card-section-link {
  text-decoration: none;
}

.cards-item {
  text-decoration: none;
}
.cards-img {
}
.cards-header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.cards-txt {
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
